<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
  </configSections>

  <appSettings>    
    <add key="UsarDiretorioBase" value="0"/>
    <add key="DiretorioPadrao" value="c:\temp\"/>
  </appSettings>

  <connectionStrings>
    <add name="StringConexaoSqlServer" connectionString="Data Source=189.108.172.22,1434;Persist Security Info=True;User ID=SGIPA;Password=BuYG14@$z!@$!;Initial Catalog=SGIPA; Min Pool Size=5;Max Pool Size=10000; Connect Timeout=3" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  
</configuration>
